@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

body{
    font-family: 'Montserrat Alternates', sans-serif;
}

.container{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }




.hex_header h1{
    text-transform: uppercase;
    line-height: 5rem;
    animation: change_color 7s infinite alternate;
}



.hex_header h2{
    margin-top: 100px;
    animation: change_color 7s infinite alternate;
}

button#submit {
    padding: 20px;
    border-radius: 5px;
    color: darkcyan;
    font-weight: 700;
}

@keyframes change_color{
    0% {
        color: #ffffff;
      }
      
      20% {
        color: #cccccc;
      }
      
      40% {
        color: #999999;
      }
      
      60% {
        color: #666666;
      }
      
      80% {
        color: #333333;
      }
      
      100% {
        color: #ffffff;
      }   
    }

    @media(max-width:480px){
      #hex-colors h1{font-size: 1.5rem;}
      
      #hex-colors h2{font-size: 1.5rem;}
    }